<table>
  <tr>
    <th>Bike Make and model</th>
  </tr>
  {{#each bikelist}}
    <tr>
      <td>{{company}}</td>
      <td>{{model}}</td>
      <td>{{modelSpecification}}</td>
      <td>{{yearOfManufacture}}</td>
      <td>{{cc}}</td>
      <td>{{aboutModel}}</td>
    </tr>
  {{/each}}
</table>
<div class="container">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/admin/addbike">Add new bike</a></li>
          </ul>
        </nav>
 </div>
<form action="/admin/addbike" method="post">
<fieldset>

        <label>Company:</label>
        <input type="text" id="company" name="company" placeholder="Ex: TVS" /><br>

        <label>Model:</label>
        <input type="text" id="model" name="model" placeholder="Ex: Apache" /><br>

        <label>Model Specification:</label>
        <input type="text" id="modelspecification" name="modelspecification" placeholder="Ex: RTR-180" /><br>

         <label>Year of manufacture:</label>
        <input type="text" id="year" name="year" placeholder="Ex: 2012" /><br>

         <label>CC:</label>
        <input type="text" id="cc" name="cc" placeholder="Ex: 180" /><br>

         <label>About Model:</label>
        <input type="text" id="about" name="about" placeholder="Ex: With self-start" /><br>

        <input type="submit" value="Add">

</fieldset> 
</form>
